@font-face {
  font-family: "NetflixSans-Regular";
  src: url("/src/fonts/NetflixSans-Regular.otf");
}

:root {
  font-family: "NetflixSans-Regular";
  font-size: medium;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

body {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.logo {
  height: min-content;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 20px 0px;
}

.logo-image {
  width: 120px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

.nav-item {
  align-content: center;
}

.main-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.billboard {
  position: relative;
  margin: 0px;
  display: flex;
}

.billboard-poster-img {
  width: 100%;
}

.billboard-card {
  position: absolute;
  top: 40%;
  left: 20px;
  width: 400px;
}

.billboard-title {
  font-size: x-large;
}

.billboard-button-wrapper {
  margin: 20px 0px 0px 0px;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.billboard-btn {
  height: 40px;
  font-size: large;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.billboard-btn:hover {
  opacity: 70%;
}

.play-btn {
  width: 80px;
  color: black;
  background-color: rgba(255, 255, 255, 0.807);
}

.info-btn {
  width: 120px;
  color: white;
  background-color: rgba(89, 89, 89, 0.807);
}

.recommend {
  margin: 10px 0px 0px 0px;
  width: 100%;
}

.thumb-container {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
  width: 20%;
  transition: all 0.2s ease-in;
}

.thumbnail:hover {
  transform: scale(1.8);
}

footer {
  color: grey;
  margin: 80px 130px 0px 130px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: x-small;
}

.footer-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40px 40px 40px;
  font-size: small;
}

.my-info {
  text-align: center;
}
