:root {
  font-family: "Noto Serif KR", sans-serif;
  font-size: medium;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;
}

body {
  margin: auto;
  width: 100%;
  min-height: 80vh;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: white;
  text-align: center;
  height: 60px;
  padding: 0px 16px;
  font-size: x-large;
  font-weight: 700;
  color: black;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  line-height: 20px;
  border-radius: 20px;
  background-color: rgba(62, 65, 62, 0);
}

.menu-button:hover {
  background-color: rgb(232, 232, 232);
}

.menu-button-icon {
  height: 20px;
}

.home-button {
  border: none;
  align-items: center;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(62, 65, 62, 0);
}

.home-image {
  margin: auto;
  width: 90%;
  background-color: none;
  vertical-align: middle;
}

.search-bar {
  width: 40vw;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.search-input {
  background-color: rgba(62, 65, 62, 0);
  width: 40vw;
  height: 30px;
  border: none;
}

.search-input:focus {
  outline: 1px solid rgba(185, 185, 185, 255);
}

.search-button {
  background-color: rgba(62, 65, 62, 0);
  border: none;
}

.search-button-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.user-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

.user-button:hover {
  background-color: rgb(232, 232, 232);
}

.user-button-icon {
  width: 24px;
  height: 24px;
  line-height: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  overflow: hidden;
}

.sidebar {
  width: 180px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 60px;
  background-color: white;
  overflow-y: auto;
}

.sidebar-button {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  border: none;
}

.sidebar-button:hover {
  filter: brightness(0.95);
}

.sidebar-button-icon {
  height: 20px;
}

.contents-container {
  flex-grow: 1;
  height: calc(100vh - 60px);
  padding: 10px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.contents-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 3px 10px;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  align-items: center;
  height: 40px;
  min-height: 40px;
}

.contents-menu::-webkit-scrollbar {
  display: none;
}

.contents-button {
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  background-color: rgb(236, 236, 236);
  padding: 8px 10px;
  height: 33px;
  line-height: 33px;
  border: none;
  border-radius: 10px;
}

.contents-button:hover {
  transition: all 0.5s;
  filter: brightness(0.8);
}

.video-contents {
  flex-grow: 1;
  min-height: 400px;
  padding: 10px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
}

.video-item {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.video-item:hover {
  filter: brightness(0.95);
  transition: 0.3s;
}

.video-item img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 8px;
}

.video-item h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.video-item p {
  margin: 0;
  font-size: 0.9rem;
  color: #606060;
}

@media (min-width: 1300px) {
  .video-contents {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .search-bar {
    width: 70vw;
  }

  .contents-container {
    padding-left: 0;
  }

  .video-contents {
    grid-template-columns: 1fr;
  }

  .contents-button {
    padding: 5px 8px;
    font-size: 0.8rem;
  }
}
