:root {
  /* font-family: "Noto Serif KR", sans-serif; */
  font-size: medium;
  line-height: 1.5;
  font-weight: 400;

  color: darkslategray;
  background-color: rgba(192, 199, 192, 0.677);
}

body {
  margin: 5vh auto;
  width: 60vw;
  min-width: 600px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: white;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

  border-radius: 10px 10px 0 0;
}

.title {
  font-size: x-large;
  font-weight: 700;
  align-items: center;
  height: 40px;
  line-height: 40px;
}

.create-btn {
  font-size: small;
  text-align: center;

  width: 40px;
  height: 40px;
  background-color: rgba(62, 65, 62, 0.797);
  color: white;
  border: none;
  border-radius: 20px;

  transition: all 0.1s linear;
}

.create-btn:hover {
  opacity: 70%;
}

.todo-list {
  background-color: rgba(192, 199, 192, 0.797);
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.todo-item {
  width: 40vw;
  min-width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(224, 232, 224, 0.821);
  gap: 20px;
}

.todo-text {
  min-width: 15rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(62, 65, 62, 0.797);
  color: white;
  font-size: medium;
  font-weight: 400;
  padding-left: 10px;
}

.complete .todo-text {
  text-decoration: line-through;
  text-decoration-color: rgba(62, 65, 62, 0.797);
  text-decoration-thickness: 2px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.action-btn {
  background-color: rgba(119, 124, 119, 0.797);
  color: white;
  border: none;
  border-radius: 5px;

  width: 4rem;
  height: 2rem;
  transition: all 0.1s linear;
}

.action-btn:hover {
  opacity: 70%;
}

.edit-btn {
  background-color: rgba(160, 191, 236, 0.797);
  color: black;
}

.remove-btn {
  background-color: rgba(237, 165, 165, 0.797);
  color: black;
}

footer {
  background-color: white;
  font-size: small;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

/* 반응형 추가 */
@media (max-width: 768px) {
  body {
    width: 90vw;
    min-width: unset;
  }

  .todo-item {
    width: 80vw;
    min-width: unset;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .todo-text {
    width: 100%;
  }

  .actions {
    justify-content: flex-end;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: large;
  }

  .create-btn {
    width: 35px;
    height: 35px;
    font-size: smaller;
  }

  .action-btn {
    width: 3rem;
    height: 1.8rem;
    font-size: smaller;
  }
}
