:root {
  font-size: medium;
  line-height: 1.5;
  font-weight: 400;

  color: darkslategray;
  /* background-color: rgba(32, 33, 31, 0.821); */

  --main-dark-color: rgba(57, 55, 59, 0.821);
  --main-point-color: rgba(160, 154, 169, 0.821);
  --main-light-color: rgb(249, 240, 219);
}

body {
  margin: 5vh auto;
  width: 60vw;
  min-width: 600px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: white; */
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 40px;
  line-height: 40px;

  border-radius: 10px 10px 0 0;
}

.title {
  font-size: x-large;
  font-weight: 700;
  align-items: center;
  height: 40px;
  line-height: 40px;
}

.menu-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.create-btn,
.sort-btn,
.filter-btn {
  font-size: small;
  text-align: center;

  font-weight: 700;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: darkslategray;
  background-color: var(--main-light-color);
  border: none;
  border-radius: 20px;
}

.create-btn {
  background-color: rgba(130, 210, 135, 0.997);
}

.create-btn:hover,
.sort-btn:hover,
.filter-btn:hover {
  filter: brightness(0.7);
  transition: all 0.1s linear;
}

.todo-list {
  background-color: var(--main-light-color);
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  overflow: scroll;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main-point-color);
  gap: 20px;
}

[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: rgba(255, 255, 255, 1);
}

.star-btn {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  font-size: x-large;
  color: gold;
}

.todo-text {
  min-width: 15rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(135, 132, 138, 0.797);
  color: white;
  font-size: medium;
  font-weight: 500;
  padding-left: 10px;
}

.complete .todo-text {
  text-decoration: line-through;
  text-decoration-color: rgba(62, 65, 62, 0.797);
  text-decoration-thickness: 2px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.action-btn {
  color: var(--main-dark-color);
  border: none;
  border-radius: 5px;

  width: 50px;
  height: 30px;
  line-height: 30px;
  transition: all 0.1s linear;
}

.action-btn:hover {
  opacity: 70%;
}

.edit-btn {
  background-color: rgba(160, 191, 237, 0.997);
}

.remove-btn {
  background-color: rgba(251, 175, 175, 0.997);
}

footer {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  font-size: small;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

/* 반응형 추가 */
@media (max-width: 768px) {
  body {
    width: 90vw;
    min-width: unset;
  }

  .todo-item {
    width: 80vw;
    min-width: unset;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .todo-text {
    width: 100%;
  }

  .actions {
    justify-content: flex-end;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: large;
  }

  .create-btn {
    width: 35px;
    height: 35px;
    font-size: smaller;
  }

  .action-btn {
    width: 3rem;
    height: 1.8rem;
    font-size: smaller;
  }
}
