:root {
  /* font-family: "Noto Serif KR", sans-serif; */
  font-size: medium;
  line-height: 1.5;
  font-weight: 400;

  color: darkslategray;
  background-color: rgba(31, 33, 31, 0.821);

  /* background-color: rgba(192, 199, 192, 0.677); */
}

body {
  margin: 5vh auto;
  width: 60vw;
  min-width: 600px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: white;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

  border-radius: 10px 10px 0 0;
}

.title {
  font-size: x-large;
  font-weight: 700;
  align-items: center;
  height: 40px;
  line-height: 40px;
}

.menu-btns {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.create-btn,
.sort-btn,
.filter-btn {
  font-size: small;
  text-align: center;

  width: 40px;
  height: 40px;
  background-color: rgba(62, 65, 62, 0.797);
  color: darkslategray;
  border: none;
  border-radius: 20px;

  transition: all 0.1s linear;

  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff;
}

.create-btn:hover,
.sort-btn:hover,
.filter-btn:hover {
  opacity: 70%;
}
/* 
.create-btn {
  background-color: rgba(114, 172, 114, 0.797);
}
.sort-btn {
  background-color: rgba(100, 105, 100, 0.797);
}
.filter-btn {
  background-color: rgba(100, 105, 100, 0.797);
} */

.todo-list {
  background-color: rgba(192, 199, 192, 0.797);
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  overflow: scroll;
}

.todo-item {
  width: 30rem;
  /* min-width: 440px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgba(224, 232, 224, 0.821); */
  background-color: rgba(31, 33, 31, 0.821);
  gap: 20px;
}

[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: red;
}

.star-btn {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  font-size: x-large;
  color: gold;
}

.todo-text {
  min-width: 15rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(62, 65, 62, 0.797);
  color: white;
  font-size: medium;
  font-weight: 400;
  padding-left: 10px;
}

.complete .todo-text {
  text-decoration: line-through;
  text-decoration-color: rgba(62, 65, 62, 0.797);
  text-decoration-thickness: 2px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.action-btn {
  background-color: rgba(119, 124, 119, 0.797);
  color: white;
  border: none;
  border-radius: 5px;

  width: 50px;
  height: 30px;
  transition: all 0.1s linear;
}

.action-btn:hover {
  opacity: 70%;
}

.edit-btn {
  background-color: rgba(129, 164, 215, 0.997);
  color: black;
}

.remove-btn {
  background-color: rgba(230, 127, 127, 0.997);
  color: black;
}

footer {
  background-color: white;
  font-size: small;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

/* 반응형 추가 */
@media (max-width: 768px) {
  body {
    width: 90vw;
    min-width: unset;
  }

  .todo-item {
    width: 80vw;
    min-width: unset;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .todo-text {
    width: 100%;
  }

  .actions {
    justify-content: flex-end;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: large;
  }

  .create-btn {
    width: 35px;
    height: 35px;
    font-size: smaller;
  }

  .action-btn {
    width: 3rem;
    height: 1.8rem;
    font-size: smaller;
  }
}
