:root {
  font-family: "Noto Serif KR", sans-serif;
  font-size: medium;

  color: white;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
}

@media (min-width: 500px) {
  /* 썸네일 가로 3개로 확장 */
}

@media (min-width: 800px) {
  /* 썸네일 가로 4개로 확장 */
}

@media (min-width: 885px) {
  /* 상단 nav bar 확장 */
}

@media (min-width: 1100px) {
  /* 썸네일 가로 5개로 확장 */
}
